<?xml version="1.0" encoding="utf-8"?>

<configuration>

    <appSettings>
        <add key="DocumentNotifierServiceUrl"
             value="http://localhost:62033/DocumentNotifierService.svc" />
        <add key="ViewConfigStalenessThresholdHours" value="24" />
        <add key="ViewConfigPath"
             value="%ProgramData%\MiniDocumentNotifier\view-configurations.json" />
        <add key="UserPreferencesPath" value="%AppData%\MiniDocumentNotifier\preferences.json" />
        <add key="UserPreferencesSource" value="Registry" />
        <add key="UserPreferencesRegistryKey" value="Software\MiniDocumentNotifier\Preferences" />
    </appSettings>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>