<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    
    <connectionStrings>
        <add name="MiniDocumentNotifierDb"
             connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=MiniDocumentNotifierDb;Integrated Security=True;"
             providerName="System.Data.SqlClient" />
    </connectionStrings>
    
    <appSettings>
        <add key="IntervalSeconds" value="60" />
        <add key="OutputFilePath" value="C:\Projects\mini-document-notifier\src\MiniDocumentNotifier.BackgroundApp\view-configurations.json" />
        <add key="ViewConfigurationSyncServiceUrl" value="http://localhost:62033/ViewConfigurationService.svc" />
    </appSettings>
</configuration>